extends layout

block content
    div.content
        h2 Why Monero?
        p We use Monero because that is the cryptocurrency that coinhive uses. You can <a href='https://coinhive.com/#hash-rate'>check their site</a> for an explanation.
        p Mine for Charity may switch to another solution if it would be beneficial, depending on what the future holds.

        <br>

        h2 How do I know where the proceeds go?
        p We value transparency: the homepage indicates exactly where all proceeds are going.
        p Additionally, anybody can check the <a href='#'>Monero public address</a> that mined coins are deposited to, and where they go from there.
