extends layout

block content
    script(src='https://authedmine.com/lib/simple-ui.min.js', async)

    script.
        $(document).ready( function() {
            $('.expand-one').click(function() {
                $('.content-one').slideToggle('slow');
            });
            $('.expand-two').click(function() {
                $('.content-two').slideToggle('slow');
            });
            $('.expand-three').click(function() {
                $('.content-three').slideToggle('slow');
            });
        });

    div.header
        h1(style='padding-left: 10px;')= title

    table(width='100%')
        tr
            td(width='48%', align='right' valign='top')
                h2 Click Start Mining
                h2(style='padding-right: 115px;') ↓
                h2 Leave this page open
                h2(style='padding-right: 115px;') ↓
                h2 Digital currency is generated
                h2(style='padding-right: 115px;') ↓
                h2 All proceeds are sent to charity!

                br

                p.expand-one <a href='#'>How does it work?</a>
                p.content-one(style='display: none; width: 600px;')
                    | <a href='https://getmonero.org/'>Monero</a> is a <a href='https://en.wikipedia.org/wiki/Digital_currency'>digital currency</a>
                    | that can be generated using any ordinary computer or device.<br>
                    | Mine for Charity simply uses your browser to help "mine" Monero coins in small amounts.<br>
                    | The coins are then collected together and sent directly to your favorite charities at the end of each month!

                p.expand-three <a href='#'>Why?</a>
                p.content-three(style='display: none; width: 600px;')
                    | We're a small team that thinks charity is a wonderful thing, but also understands that giving can take time and effort - especially when it's only a small amount.<br>
                    | Mine for Charity is the solution. It doesn't matter how little time you spend on the site; every little bit helps!<br>
                    | We work with reputable charity organizations to do what we can to make the world a better place.

            td(width='4%' align='center' valign='top')
                h2 →

            td(valign='top')
                div.coinhive-miner(
                    style='width: 520px; height: 200px;'
                    data-key='GJApuFGx3H8ln9pdNgQtEbuMmLhjPyMl'
                )
                    p.expand-two <a href='#'>There's no Start Mining button!</a>
                    p.content-two(style='display: none; width: 600px;')
                        | Some ad blockers block the miner that we use. They do this to prevent sites from secretly using your computer to mine digital currency in the background.<br>
                        | That's a good thing, but it also affects sites like ours!<br>
                        | Fortunately, by simply disabling any ad blocking extension you use for this site and reloading the page, you should be good to go.
