doctype html
html
    head
        title= title

        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poiret+One|Raleway')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='/javascripts/jquery-3.2.1.min.js')

    body
        div.header
            div(style='float: left;')
                h1.logo(onclick="location.href='/'") Mine for Charity

            div(style='float: right;')
                h3(style='padding: 10px; padding-top: 30px;')
                    a(href='/faq') FAQ

        block content
