body {
    margin: 0;
}

h1 {
    margin: 10px;

    font: 40px 'Poiret One';
    color: #333;
}

h1.logo {
    padding-left: 10px;
    cursor: pointer;
}

h2 {
    font: 30px Raleway;
    color: #333;
}

h3 {
    margin: 0;

    font: 20px Raleway;
    color: #333;
}

p {
    font: 14px Raleway;
}

p.small {
    font-size: 12px;
}

p.block {
    display: none;
    width: 600px;

    padding-left: 5px;
    
    border-left: 1px #ccc dashed;
}

span.faded {
    color: #888;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.header {
    height: 55px;
    padding-top: 1px;

    background: linear-gradient(#ccc, white);
    border-bottom: 1px #ccc dashed;
}

div.content {
    padding-left: 20%;
    padding-right: 20%;
}

div.charities {
    width: 400px;
    padding-right: 15px;

    border: 1px #ccc dashed;
}
