body {
    margin: 0;
}

h1 {
    margin: 10px;

    font: 40px 'Poiret One';
    color: #333;
}

h2 {
    font: 30px Raleway;
    color: #333;
}

p {
    font: 14px Raleway;
}

a {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.header {
    padding-top: 1px;

    background: linear-gradient(#eee, white);
    border-bottom: 1px #ccc dashed;
}
